---
---

// Begin style definition
//
// First, we strip all defaylt styling.

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

// Let's have a custom C64 style font
@font-face {
  font-family: "C64";
  src: url("/C64_Pro-STYLE.woff2") format("woff2"),
       url("/C64_Pro-STYLE.woff") format("woff");
}

// Now we can do the basics.

// Colours from the C64's palette
$black: #000000;
$white: #ffffff;
$red: #9f4e44;
$cyan: #6abfc6;
$purple: #a057a3;
$violet: #a057a3;
$green: #5cab5e;
$blue: #50459b;
$yellow: #c9d487;
$orange: #a1683c;
$brown: #6d5412;
$lightRed: #cb7e75;
$darkGrey: #626262;
$grey: #898989;
$lightGreen: #9ae29b;
$lightBlue: #887ecb;
$lightGrey:#adadad;

html {
	background-color: $lightBlue;
}

body {
	position: relative;
	left: -10em;
	width: 48em;
	min-width: 50em;
	margin-top: 2em;
	margin-bottom: 2em;
	margin-left: auto;
	margin-right: auto;
	background-color: $blue;
	padding: 12pt;
	font-family: "C64";
	color: $lightGrey;

	header#main-header {
		color: $white;
		padding-bottom: 12pt;
		background-image: url("/banner.jpeg");
		background-size: 100% auto;
		background-repeat: no-repeat;

		h1 {
			text-align: center;
			font-size: 60pt;
			padding-top: 12pt;
		}

		p {
			text-align: center;
			font-size: 18.9pt;
		}
	}

	section#bios {
		position:absolute;
		left: 53em;
		top: 0em;
		width: 20em;
		padding-left: 1em;
		padding-right: 1em;
		padding-top: 1em;
		padding-bottom: 0em;
		background-color: $blue;

		h2 {
			text-align: center;
			background-color: $blue;
			color: $white;
			font-size: 16pt;
			padding-bottom: 8pt;
		}

		section.bio {
			h3 {
				color: $lightGrey;
				font-size: 12pt;
				text-align: center;
				padding-top: 8pt;
				padding-bottom: 8pt;
				background-color: $darkGrey;
			}
			p {
				background-color: $lightGrey;
				color: $darkGrey;
				font-size: 10pt;
				padding: 1em;
				text-align: left;
				margin-bottom: 1em;
				line-height: 125%;
			}
		}
	}

	section#content {

		h1 {
			position: absolute;
			display: none;
		}

		h2 {
			color: $lightGrey;
			font-size: 14pt;
			text-align: center;
			padding-top: 8pt;
			padding-bottom: 8pt;
			margin-top: 1em;
			background-color: $darkGrey;
		}

		p {
			text-indent: 0em;
			background-color: $lightGrey;
			color: $darkGrey;
			font-size: 12pt;
			padding: 1em;
			text-align: justify;
			line-height: 150%;

			a, a:visited, a:active {
				color: $blue;
				text-decoration: underline;
			}

			em {
				text-decoration: underline;
			}
		}

		p + p {
			text-indent: 4em;
			padding-top: 0em;
		}

		ul {
			background-color: $lightGrey;
			color: $darkGrey;
			font-size: 12pt;
			padding-left: 7em;
			padding-right: 8em;
			padding-top: .5em;
			padding-bottom: .5em;
			text-align: left;

			li {
				list-style-type: "* ";
				padding-top: .25em;
				padding-bottom: .25em;
				line-height: 150%;

				a, a:visited, a:active {
					color: $blue;
					text-decoration: underline;
				}

				em {
					text-decoration: underline;
				}
			}

			li::marker {
				font-size: 8pt;
			}
		}
	}

	header#contact-us {
		h2 {
			color: $lightGrey;
			font-size: 14pt;
			text-align: center;
			padding-top: 8pt;
			padding-bottom: 8pt;
			margin-top: 1em;
			background-color: $darkGrey;
		}
		
		ul {
			background-color: $lightGrey;
			color: $darkGrey;
			font-size: 10pt;
			padding-top: 1em;
			padding-bottom: 1em;
			text-align: center;

			li {
				display: inline;
				padding-left: 2em;
				padding-right: 2em;
				a, a:visited, a:active {
					color: $blue;
					text-decoration: underline;
				}
			}
		}
	}

	footer {
		p#copyright {
			margin-top: 1em;
			text-align: center;
			font-size: 9pt;
			color: $white;
		}
	}
}


@media all and (max-width: 800px) {
	
	body {
		width: 42em !important;
		min-width: 0px !important;
		left: 0em !important;

		header#main-header {
			h1 {
				font-size: 48pt !important;
			}

			p {
				font-size: 15pt !important;
			}
		}

		section#bios {
			display: none !important;
		}

		header#contact-us {
			ul {
				li {
					padding-left: 1em !important;
					padding-right: 1em !important;
				}
			}
		}
	}
}

@media all and (max-width: 600px) {
	
	body {
		width: 35em !important;
		min-width: 0px !important;
		left: 0em !important;
		padding: 0px !important;

		header#main-header {
			h1 {
				font-size: 48pt !important;
			}

			p {
				font-size: 15pt !important;
			}
		}

		section#bios {
			display: none !important;
		}

		header#contact-us {
			ul {
				li {
					padding-left: 1em !important;
					padding-right: 1em !important;
				}
			}
		}
	}
}

@media all and (max-width: 1080px) {
	
	body {
		width: 55em !important;
		min-width: 0px !important;
		left: 0em !important;
		padding: 0px !important;

		header#main-header {
			h1 {
				font-size: 48pt !important;
			}

			p {
				font-size: 15pt !important;
			}
		}

		section#bios {
			display: none !important;
		}

		header#contact-us {
			ul {
				li {
					padding-left: 1em !important;
					padding-right: 1em !important;
				}
			}
		}
	}
}
