---
---

// Begin style definition
//
// First, we strip all defaylt styling.

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

// Let's have a custom C64 style font
@font-face {
  font-family: "C64";
  src: url("/C64_Pro-STYLE.woff2") format("woff2"),
       url("/C64_Pro-STYLE.woff") format("woff");
}

// Now we can do the basics.

html {
	background-color: #887ecb;
}

body {
	position: relative;
	left: -10em;
	width: 48em;
	min-width: 50em;
	margin-top: 5em;
	margin-bottom: 5em;
	margin-left: auto;
	margin-right: auto;
	background-color: #50459b;
	padding: 12pt;
	font-family: "C64";
	color: #adadad;

	header {
		margin-bottom: 20pt;
		color: #ffffff;

		h1 {
			text-align: center;
			font-size: 60pt;
		}

		p {
			text-align: center;
			font-size: 18.9pt;
		}
	}

	section#bios {
		position:absolute;
		left: 53em;
		top: 0em;
		width: 20em;
		border-style: solid;
		border-width: 1em;
		border-color: #50459b;
		background-color: #898989;

		h2 {
			text-align: center;
			background-color: #50459b;
			color: #ffffff;
			font-size: 16pt;
			padding-top: 8pt;
			padding-bottom: 8pt;
		}

		section.bio {
			h3 {
				color: #adadad;
				font-size: 12pt;
				text-align: center;
				padding-top: 8pt;
				padding-bottom: 8pt;
				background-color: #626262;
			}
			p {
				background-color: #adadad;
				color: #626262;
				font-size: 10pt;
				padding: 1em;
				text-align: center;
			}
		}
	}

	section#content {

		h1 {
			color: #adadad;
			font-size: 12pt;
			text-align: center;
			padding-top: 8pt;
			padding-bottom: 8pt;
			background-color: #626262;
		}

		p {
			text-indent: 0em;
			background-color: #adadad;
			color: #626262;
			font-size: 10pt;
			padding: 1em;
			text-align: justify;
			margin-top: 1em;
		}

		p + p {
			text-indent: 4em;
			padding-top: 0em;
			margin-top: 0em !important;
		}
	}

	footer {
		h2 {

		}
		
		ul {
			li {
				a, a:visited, a:active {
					color: #ffffff;
					text-decoration: underline;
				}
			}
		}
	}
}