---
---

// Begin style definition
//
// First, we strip all defaylt styling.

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

// Let's have a custom C64 style font
@font-face {
  font-family: "C64";
  src: url("/C64_Pro-STYLE.woff2") format("woff2"),
       url("/C64_Pro-STYLE.woff") format("woff");
}

// Now we can do the basics.

body {
	margin-top: 36pt;
	margin-left: 20%;
	margin-right: 30%;
}

h1 {
	text-align: center;
	font-family: "C64";
	font-size: 64pt;
	font-weight: bold;
	margin-bottom: 3pt;
}

h2 {
	text-align: center;
	font-family: "C64";
	font-size: 16pt;
	font-weight: normal;
	margin-top: 0pt;
	margin-bottom: 4pt;
}

h1 + h2 {
	font-size: 19.85pt;
	margin-bottom: 24pt;
}

h3 {
	font-family: "C64";
	font-size: 12pt;
	margin-bottom: 8pt;
	margin-top: 8pt;
}

ul {
	margin-top: 8pt;
	margin-bottom: 8pt;
	margin-left: 24pt;
}

li { 
	list-style-type: "* ";
	margin-bottom: 6pt;
}

li::marker {
  font-family: "C64";
  font-size: 8pt;
}